<div>
<table>
     <thead>
    <tr>
      <th></th>
      <th>開始時間</th>
      <th>ホーム</th>
      <th></th>
      <th>アウェー</th>
      <th>リーグ・カップ名</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= image_tag @post.user.get_profile_image(40,40) %><br>
      <%= @post.user.name %><br>
      <%= @post.created_at.strftime("%Y/%m/%d %H:%M") %></td>
      <td><%= @post.match_date_time.strftime("%Y年%m月%d日 %H:%M") %></td>
      <td><%= @post.home_team %></td>
      <td>vs</td>
      <td><%= @post.away_team %></td>
      <td><%= @post.category %></td>
      <td><%= @post.body %></td>
      <% if @post.user == current_user %>
      <td><%= link_to "削除する", post_path(@post), method: :delete %></td>
      <% end %>
    </tr>
  </tbody>
  </table>
  </div>

<div>
  <%= form_with model:[@post, @post_comment] do |f| %>
    <%= f.text_area :comment, placeholder: "コメント" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>