<div class="container">
  <div class="row">
    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 mx-auto">
      <div class="card">
        <div class="card-header">
        <%= link_to user_path(@post.user.id) do %>
        <%= image_tag @post.user.get_profile_image(40,40) %>
        <% end %>
        <%= @post.user.name %>
        </div>
            <div class="card-body">
              <h5 class="card-title">
                <%= @post.match_date_time.strftime("%Y年%m月%d日 %H:%M") %>
                <%= @post.home_team %>vs<%= @post.away_team %>
                <%= @post.category %>
              </h5>
              <p class="card-text"><%= @post.body %></p>
              <%= link_to "#{@post.post_comments.count}件のコメント", post_path(@post.id) %>
              <span class="favorite_<%= @post.id %>"><%= render 'favorites/favorite', post: @post %></span>
              <% if @post.user == current_user %>
              <%= link_to "削除する", post_path(@post.id), method: :delete, data: {confirm: "削除しますか？"} %>
              <% end %>
              </div>
              <div class="card-footer text-muted">
              <%= @post.created_at.strftime("%Y/%m/%d %H:%M") %>
              </div>
            </div>

        <div class="mt-3">
          <div class="row">
            <div class="col-md-8 mx-auto">
            <%= form_with model:[@post, @post_comment] do |f| %>
            <%= f.text_area :comment, placeholder: "コメント", class: "form-control" %>
            <%= f.submit "送信する", class: "btn btn-block mt-3 btn-success" %>
            <% end %>
            </div>
          </div>
        </div>

    </div>
  </div>
</div>