<% if posts.exists? %>

<table>
  <thead>
    <tr>
      <th></th>
      <th>開始時間</th>
      <th>ホーム</th>
      <th></th>
      <th>アウェー</th>
      <th>リーグ・カップ名</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% posts.each do |post| %>
    <tr>
      <td><%= link_to user_path(post.user.id) do %>
        <%= image_tag post.user.get_profile_image(40,40) %><br>
      <%= post.user.name %><% end %><br>
      <%= post.created_at.strftime("%Y/%m/%d %H:%M") %></td>
      <td><%= post.match_date_time.strftime("%Y年%m月%d日 %H:%M") %></td>
      <td><%= post.home_team %></td>
      <td>vs</td>
      <td><%= post.away_team %></td>
      <td><%= post.category %></td>
      <td><%= post.body %></td>
      <td><%= link_to "コメント", new_post_post_comment_path(post.id) %></td>
      <td><%= link_to "#{post.post_comments.count}件のコメント", post_path(post.id) %></td>
      <td><%= render 'favorites/favorite', post: post %></td>
      <% if post.user == current_user %>
      <td><%= link_to "削除する", post_path(post.id), method: :delete %></td>
      <% end %>

    </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<p>検索結果はありません</p>
<% end %>
