<h1>投稿一覧</h1>
<table>
  <thead>
    <tr>
      <th></th>
      <th>開始時間</th>
      <th>ホーム</th>
      <th></th>
      <th>アウェー</th>
      <th>リーグ・カップ名</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
    <tr>
      <td><%= image_tag post.user.get_profile_image(40,40) %><br>
      <%= post.user.name %></td>
      <td><%= post.match_date_time %></td>
      <td><%= post.home_team %></td>
      <td>vs</td>
      <td><%= post.away_team %></td>
      <td><%= post.category %></td>
      <td><%= post.body %></td>
      <td><%= link_to "コメント", post_path(post.id) %></td>
      <% if post.user == current_user %>
      <td><%= link_to "削除する", post_path(post.id), method: :delete %></td>
      <% end %>

    </tr>
    <% end %>
  </tbody>
</table>