<!DOCTYPE html>
<html>
  <head>
    <title>SOCCERZONE</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
 <header class="sticky-top">
      <nav class="navbar navbar-expand-md navbar-dark bg-dark text-white">
          <a class="navbar-brand" href="/">SOCCERZONE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <% if user_signed_in? %>
                          <%= render 'searches/form' %>
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <%= link_to 'マイページ', user_path(current_user.id), class: "nav-link text-white" %>
              </li>
              <li class="nav-item">
                <%= link_to "投稿フォーム", new_post_path, class: "nav-link text-white" %>
              </li>
              <li class="nav-item">
                <%= link_to '投稿一覧', posts_path, class: "nav-link text-white" %>
              </li>
              <li class="nav-item">
                <%= link_to "サインアウト", destroy_user_session_path,  method: :delete, class: "nav-link text-white" %>
              </li>
            <% else %>
              <li class="nav-item mx-2">
                <%= link_to "トップページ", root_path, class: "nav-link text-white" %>
              </li>
              <li class="nav-item mx-2">
                <%= link_to "新規登録", new_user_registration_path, class: "nav-link text-white" %>
              </li>
              <li class="nav-item mx-2">
                <%= link_to "サインイン", new_user_session_path, class: "nav-link text-white" %>
              </li>
            <% end %>
          </ul>
        </div>
      </nav>
    </header>
    <main class="m-5">
    <%= yield %>
  </main>
  <footer class="fixed-bottom text-center bg-dark text-white">
    <p>© 2022 Miyagawa</p>
  </footer>
  </body>
</html>
